*
{

}
header
{
    margin: auto;
    display: flex;
    justify-content: center;
}
footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #eee;
    width: 100vw;
}
table
{
    border-spacing: 7px;
}
td
{
    text-align: center;
    width: 20px;
    height: 20px;
    border: 10px solid #eee;
    background-color: #eee;
    text-transform: uppercase;

}
tr
{
    margin: 20px;
}
#main
{
    display: flex;
    justify-content: center;
}
#secondary
{
    display: flex;
    justify-content: center;
}
#logo
{
    width: 80%;
    max-width: 400px;
    margin: auto;
}
#board
{
    background-color: white;
    padding: 10px;
}
.cell
{
    border-radius: 20px;
}
.flip
{
    transform: scaleX(-1);
}

#yay-win
{
    margin: auto;
    display: none;
}

#you-losed
{
    margin: auto;
    display: none;
}

.wrongLetter
{
    background-color: grey;
    border: 10px solid grey;
}
.rightLetter
{
    background-color: #B97A57;
    border: 10px solid #B97A57;
}
.rightPosition
{
    background-color: #B5E61D;
    border: 10px solid #B5E61D;
}